{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "lmstudio": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "LM Studio (local)",
      "options": {
        "baseURL": "http://127.0.0.1:1234/v1"
      },
    }
  },
  "mcp": {
    "github": {
      "type": "local",
      "command": ["npx", "-y", "@modelcontextprotocol/server-github"],
      "environment": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ keyring "opencode" "github" }}"
      },
      "enabled": true
    },
    "context7": {
      "type": "local",
      "command": [
        "bunx",
        "-y",
        "@upstash/context7-mcp",
        "--api-key",
        "{{ keyring "opencode" "context7" }}"
      ],
      "enabled": true
    },
    "tavily": {
      "type": "local",
      "command": ["npx", "-y", "tavily-mcp@latest"],
      "environment": {
        "TAVILY_API_KEY": "{{ keyring "opencode" "tavily" }}"
      },
      "enabled": true
    },
    "powershell": {
      "type": "local",
      "command": [
        {{ joinPath .chezmoi.homeDir "Documents/PowerShell/Modules/PowerShell.MCP/1.6.0/bin/win-x64/PowerShell.MCP.Proxy.exe" | replace "/" "\\\\" | toJson }}
      ],
      "environment": {
        "PWSH_PATH": "pwsh.exe  -NoProfile -NonInteractive",
        "PWSH_ARGS": "-NoProfile -NonInteractive",
        "POWERSHELL_UPDATECHECK": "Off",
        "DOTNET_CLI_TELEMETRY_OPTOUT": "1",
        "IS_AI_AGENT": "true",
      },
      "enabled": true
    }
  },
  "default_agent": "plan",
  "enabled_providers": ["lmstudio"],
  "permission": {
    "bash": "deny"
  }
}
